In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
data = [['Albany'] , [75] , [0] ] , [['Allegany'] , ['83'] , ['2'] ] , [['Bronx'] , ['82'] ,
['3'] ] , [['Broome'] , ['67'] , ['5'] ] , [['Cattaraugus'] , ['95'] , ['5'] ] , [['Cayuga']
, ['80'] , ['4'] ] , [['Chautauqua'] , ['78'] , ['4'] ] , [['Chemung'] , ['91'] , ['3'] ] ,
[['Chenango'] , ['92'] , ['0'] ] , [['Clinton'] , ['58'] , ['1'] ] , [['Columbia'] , ['52']
, ['1'] ] , [['Cortland'] , ['59'] , ['3'] ] , [['Delaware'] , ['70'] , ['0'] ] , [['Dutchess']
, ['98'] , ['0'] ] , [['Erie'] , ['54'] , ['5'] ] , [['Essex'] , ['83'] , ['3'] ] ,
[['Franklin'] , ['83'] , ['5'] ] , [['Fulton'] , ['84'] , ['2'] ] , [['Genesee'] , ['84'] ,
['5'] ] , [['Greene'] , ['73'] , ['1'] ] , [['Hamilton'] , ['55'] , ['1'] ] , [['Herkimer']
, ['88'] , ['0'] ] , [['Jefferson'] , ['67'] , ['1'] ] , [['Kings'] , ['100'] , ['4'] ] ,
[['Lewis'] , ['65'] , ['2'] ] , [['Livingston'] , ['61'] , ['1'] ] , [['Madison'] , ['85'] ,
['0'] ] , [['Monroe'] , ['73'] , ['4'] ] , [['Montgomery'] , ['59'] , ['2'] ] , [['Nassau']
, ['88'] , ['0'] ] , [['NewYork'] , ['78'] , ['1'] ] , [['Niagara'] , ['73'] , ['4'] ] ,
[['Oneida'] , ['93'] , ['1'] ] , [['Onondaga'] , ['66'] , ['5'] ] , [['Ontario'] , ['60'] ,
['1'] ] , [['Orange'] , ['70'] , ['4'] ] , [['Orleans'] , ['75'] , ['5'] ] , [['Oswego'] ,
['61'] , ['2'] ] , [['Otsego'] , ['61'] , ['2'] ] , [['Putnam'] , ['63'] , ['2'] ] ,
[['Queens'] , ['99'] , ['5'] ] , [['Rensselaer'] , ['67'] , ['1'] ] , [['Richmond'] , ['67']
, ['3'] ] , [['Rockland'] , ['91'] , ['3'] ] , [['St.Lawrence'] , ['69'] , ['2'] ] ,
[['Saratoga'] , ['61'] , ['5'] ] , [['Schenectady'] , ['86'] , ['4'] ] , [['Schoharie'] ,
['53'] , ['3'] ] , [['Schuyler'] , ['73'] , ['5'] ] , [['Seneca'] , ['53'] , ['2'] ] ,
[['Steuben'] , ['77'] , ['1'] ] , [['Suffolk'] , ['71'] , ['1'] ] , [['Sullivan'] , ['78'] ,
['0'] ] , [['Tioga'] , ['89'] , ['5'] ] , [['Tompkins'] , ['64'] , ['1'] ] , [['Ulster'] ,
['57'] , ['2'] ] , [['Warren'] , ['91'] , ['5'] ] , [['Washington'] , ['66'] , ['0'] ] ,
[['Wayne'] , ['68'] , ['5'] ] , [['Westchester'] , ['86'] , ['1'] ] , [['Wyoming'] , ['59']
, ['2'] ] , [['Yates'] , ['55'] , ['2'] ]

([['Wayne'], ['68'], ['5']],
 [['Westchester'], ['86'], ['1']],
 [['Wyoming'], ['59'], ['2']],
 [['Yates'], ['55'], ['2']])

In [4]:
flat_data = [item for item in data]
# Convert to DataFrame
df = pd.DataFrame(flat_data, columns=['Station_Name', 'Nox_Value', 'Sensor_Tolarance'])

In [5]:
df

    Station_Name Nox_Value Sensor_Tolarance
0       [Albany]      [75]              [0]
1     [Allegany]      [83]              [2]
2        [Bronx]      [82]              [3]
3       [Broome]      [67]              [5]
4  [Cattaraugus]      [95]              [5]
5       [Cayuga]      [80]              [4]
6   [Chautauqua]      [78]              [4]
7      [Chemung]      [91]              [3]

In [6]:
# Extract values from lists into separate columns
df = df.applymap(lambda x: x[0] if isinstance(x, list) else x)

/var/folders/fw/9b0xslw51mq4_fznt1ct_2zm0000gn/T/ipykernel_4856/1728655572.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df = df.applymap(lambda x: x[0] if isinstance(x, list) else x)

In [7]:
df

  Station_Name Nox_Value Sensor_Tolarance
0       Albany        75                0
1     Allegany        83                2
2        Bronx        82                3
3       Broome        67                5
4  Cattaraugus        95                5
5       Cayuga        80                4
6   Chautauqua        78                4
7      Chemung        91                3

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Station_Name      8 non-null      object
 1   Nox_Value         8 non-null      object
 2   Sensor_Tolarance  8 non-null      object
dtypes: object(3)
memory usage: 324.0+ bytes

In [9]:
# Convert string values to integers
df['Nox_Value'] = df['Nox_Value'].astype(int)
df['Sensor_Tolarance'] = df['Sensor_Tolarance'].astype(int)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Station_Name      8 non-null      object
 1   Nox_Value         8 non-null      int64
 2   Sensor_Tolarance  8 non-null      int64
dtypes: int64(2), object(1)
memory usage: 324.0+ bytes

In [10]:
# How many stations are there?
df["Station_Name"].nunique()

8

In [11]:
# What was the NOx reading from the 5th station?
nox_reading_5th_station = df.loc[4, 'Nox_Value']
nox_reading_5th_station

95

In [12]:
# What was the NOx reading from the last station?
nox_reading_last_station = df['Nox_Value'].iloc[-1]
nox_reading_last_station

91

In [13]:
# What is the total sum of NOx on sites with the station's name beginning with the letter W?
# Filter stations with names beginning with 'W'
filtered_df = df[df['Station_Name'].apply(lambda x: x[0][0].lower() == 'w')]

# Calculate the total sum of NOx on sites with station names beginning with 'W'
total_nox_w_stations = filtered_df['Nox_Value'].sum()
total_nox_w_stations

0

In [14]:
# Calculate the adjusted NOx values by considering the maximum error as a percentage?
average_nox_reading = df.groupby("Station_Name")['Nox_Value'].mean()
average_nox_reading

Station_Name
Albany         75.0
Allegany       83.0
Bronx          82.0
Broome         67.0
Cattaraugus    95.0
Cayuga         80.0
Chautauqua     78.0
Chemung        91.0
Name: Nox_Value, dtype: float64

In [17]:
data = ['S3A_SL_2_WST____20230701T003542_20230701T021641_20230702T115546_6059_100_287______MAR_O_NT_003',
'S3B_SL_2_WST____20230701T013741_20230701T031840_20230702T121228_6059_081_145______MAR_O_NT_003',
'S3A_SL_2_WST____20230701T021641_20230701T035740_20230702T134535_6059_100_288______MAR_O_NT_003',
'S3B_SL_2_WST____20230701T031840_20230701T045939_20230702T135808_6059_081_146______MAR_O_NT_003',
'S3A_SL_2_WST____20230701T035740_20230701T053839_20230702T152705_6059_100_289______MAR_O_NT_003',
'S3B_SL_2_WST____20230701T045939_20230701T064039_20230702T135812_6059_081_147______MAR_O_NT_003',
'S3A_SL_2_WST____20230701T053839_20230701T071939_20230702T170939_6059_100_290______MAR_O_NT_003',
'S3B_SL_2_WST____20230701T064039_20230701T082138_20230702T170001_6059_081_148______MAR_O_NT_003',
'S3A_SL_2_WST____20230701T071939_20230701T090038_20230702T184839_6059_100_291______MAR_O_NT_003',
'S3B_SL_2_WST____20230701T082138_20230701T100237_20230702T184618_6059_081_149______MAR_O_NT_003',
'S3A_SL_2_WST____20230701T090038_20230701T104137_20230702T191020_6059_100_292______MAR_O_NT_003',
'S3B_SL_2_FRP____20230701T092150_20230701T092650_20230701T113427_0299_081_150______MAR_O_NR_002',
'S3B_SL_2_AOD____20230701T092152_20230701T092651_20230701T113543_0299_081_150______MAR_O_NR_003',
'S3B_SL_1_RBT____20230701T092255_20230701T092555_20230702T054816_0180_081_150_2160_PS2_O_NT_004',
'S3B_SL_2_LST____20230701T092255_20230701T092555_20230701T113003_0180_081_150_2160_PS2_O_NR_004',
'S3B_SL_2_FRP____20230701T092255_20230701T092555_20230702T055613_0180_081_150_2160_PS2_O_NT_004',
'S3B_SL_2_WST____20230701T092255_20230701T092555_20230701T113157_0180_081_150_2160_MAR_O_NR_003',
'S3B_SL_2_LST____20230701T092255_20230701T092555_20230702T060749_0180_081_150_2160_PS2_O_NT_004',
'S3B_SL_1_RBT____20230701T092255_20230701T092555_20230701T112528_0180_081_150_2160_PS2_O_NR_004',
'S3A_SL_2_FRP____20230701T100051_20230701T100551_20230701T121412_0299_100_293______MAR_O_NR_002',
'S3A_SL_2_AOD____20230701T100052_20230701T100551_20230701T121522_0299_100_293______MAR_O_NR_003',
'S3A_SL_2_FRP____20230701T100155_20230701T100455_20230702T190119_0179_100_293_2160_PS1_O_NT_004',
'S3A_SL_1_RBT____20230701T100155_20230701T100455_20230702T185513_0179_100_293_2160_PS1_O_NT_004',
'S3A_SL_2_LST____20230701T100155_20230701T100455_20230702T190540_0179_100_293_2160_PS1_O_NT_004',
'S3A_SL_2_WST____20230701T100155_20230701T100455_20230701T121337_0179_100_293_2160_MAR_O_NR_003',
'S3A_SL_2_LST____20230701T100155_20230701T100455_20230701T121407_0179_100_293_2160_PS1_O_NR_004',
'S3A_SL_1_RBT____20230701T100155_20230701T100455_20230701T121102_0179_100_293_2160_PS1_O_NR_004',
'S3B_SL_2_WST____20230701T200833_20230701T214932_20230703T064744_6059_081_156______MAR_O_NT_003',
'S3B_SL_2_FRP____20230701T204150_20230701T204650_20230701T231301_0299_081_157______MAR_O_NR_002',
'S3B_SL_2_AOD____20230701T204152_20230701T204649_20230701T231345_0299_081_157______MAR_O_NR_003']

In [18]:
# Define column names based on the file naming convention
columns = [
    'Mission_ID',
    'Data_Source',
    'Processing_Level',
    'Data_Type_ID',
    'Sensing_Start_Time',
    'Sensing_Stop_Time',
    'Product_Creation_Date',
    'Instance_ID',
    'Centre',
    'Class_ID'
]

# Create an empty list to store dictionaries
data_list = []

# Populate the list with dictionaries
for item in data:
    values = [
        item[0:3],  # Mission_ID
        item[4:6],  # Data_Source
        item[7:8],  # Processing_Level
        item[9:15],  # Data_Type_ID
        item[16:32],  # Sensing_Start_Time
        item[33:49],  # Sensing_Stop_Time
        item[50:66],  # Product_Creation_Date
        item[67:84],  # Instance_ID
        item[85:88],  # Centre
        item[89:99]  # Class_ID
    ]
    data_list.append(dict(zip(columns, values)))

# Create DataFrame from the list of dictionaries
df = pd.DataFrame(data_list)

In [23]:
df.head()

,Mission_ID,Data_Source,Processing_Level,Data_Type_ID,Sensing_Start_Time,Sensing_Stop_Time,Product_Creation_Date,Instance_ID,Centre,Class_ID
0,S3A,SL,2,WST___,20230701T003542_,0230701T021641_2,230702T115546_60,9_100_287______MA,_O_,T_003
1,S3B,SL,2,WST___,20230701T013741_,0230701T031840_2,230702T121228_60,9_081_145______MA,_O_,T_003
2,S3A,SL,2,WST___,20230701T021641_,0230701T035740_2,230702T134535_60,9_100_288______MA,_O_,T_003
3,S3B,SL,2,WST___,20230701T031840_,0230701T045939_2,230702T135808_60,9_081_146______MA,_O_,T_003
4,S3A,SL,2,WST___,20230701T035740_,0230701T053839_2,230702T152705_60,9_100_289______MA,_O_,T_003

In [27]:
df["Data_Type_ID"] = df["Data_Type_ID"].str.replace('___', '')
df["Centre"] = df["Centre"].str.replace('_', '')
df.head()

,Mission_ID,Data_Source,Processing_Level,Data_Type_ID,Sensing_Start_Time,Sensing_Stop_Time,Product_Creation_Date,Instance_ID,Centre,Class_ID
0,S3A,SL,2,WST,20230701T003542_,0230701T021641_2,230702T115546_60,9_100_287______MA,O,T_003
1,S3B,SL,2,WST,20230701T013741_,0230701T031840_2,230702T121228_60,9_081_145______MA,O,T_003
2,S3A,SL,2,WST,20230701T021641_,0230701T035740_2,230702T134535_60,9_100_288______MA,O,T_003
3,S3B,SL,2,WST,20230701T031840_,0230701T045939_2,230702T135808_60,9_081_146______MA,O,T_003
4,S3A,SL,2,WST,20230701T035740_,0230701T053839_2,230702T152705_60,9_100_289______MA,O,T_003

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Mission_ID             30 non-null     object
 1   Data_Source            30 non-null     object
 2   Processing_Level       30 non-null     object
 3   Data_Type_ID           30 non-null     object
 4   Sensing_Start_Time     30 non-null     object
 5   Sensing_Stop_Time      30 non-null     object
 6   Product_Creation_Date  30 non-null     object
 7   Instance_ID            30 non-null     object
 8   Centre                 30 non-null     object
 9   Class_ID               30 non-null     object
dtypes: object(10)
memory usage: 2.5+ KB