In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [44]:
data = [['Albany'] , [75] , [0] ] , [['Allegany'] , ['83'] , ['2'] ] , [['Bronx'] , ['82'] ,
['3'] ] , [['Broome'] , ['67'] , ['5'] ] , [['Cattaraugus'] , ['95'] , ['5'] ] , [['Cayuga']
, ['80'] , ['4'] ] , [['Chautauqua'] , ['78'] , ['4'] ] , [['Chemung'] , ['91'] , ['3'] ] ,
[['Chenango'] , ['92'] , ['0'] ] , [['Clinton'] , ['58'] , ['1'] ] , [['Columbia'] , ['52']
, ['1'] ] , [['Cortland'] , ['59'] , ['3'] ] , [['Delaware'] , ['70'] , ['0'] ] , [['Dutchess']
, ['98'] , ['0'] ] , [['Erie'] , ['54'] , ['5'] ] , [['Essex'] , ['83'] , ['3'] ] ,
[['Franklin'] , ['83'] , ['5'] ] , [['Fulton'] , ['84'] , ['2'] ] , [['Genesee'] , ['84'] ,
['5'] ] , [['Greene'] , ['73'] , ['1'] ] , [['Hamilton'] , ['55'] , ['1'] ] , [['Herkimer']
, ['88'] , ['0'] ] , [['Jefferson'] , ['67'] , ['1'] ] , [['Kings'] , ['100'] , ['4'] ] ,
[['Lewis'] , ['65'] , ['2'] ] , [['Livingston'] , ['61'] , ['1'] ] , [['Madison'] , ['85'] ,
['0'] ] , [['Monroe'] , ['73'] , ['4'] ] , [['Montgomery'] , ['59'] , ['2'] ] , [['Nassau']
, ['88'] , ['0'] ] , [['NewYork'] , ['78'] , ['1'] ] , [['Niagara'] , ['73'] , ['4'] ] ,
[['Oneida'] , ['93'] , ['1'] ] , [['Onondaga'] , ['66'] , ['5'] ] , [['Ontario'] , ['60'] ,
['1'] ] , [['Orange'] , ['70'] , ['4'] ] , [['Orleans'] , ['75'] , ['5'] ] , [['Oswego'] ,
['61'] , ['2'] ] , [['Otsego'] , ['61'] , ['2'] ] , [['Putnam'] , ['63'] , ['2'] ] ,
[['Queens'] , ['99'] , ['5'] ] , [['Rensselaer'] , ['67'] , ['1'] ] , [['Richmond'] , ['67']
, ['3'] ] , [['Rockland'] , ['91'] , ['3'] ] , [['St.Lawrence'] , ['69'] , ['2'] ] ,
[['Saratoga'] , ['61'] , ['5'] ] , [['Schenectady'] , ['86'] , ['4'] ] , [['Schoharie'] ,
['53'] , ['3'] ] , [['Schuyler'] , ['73'] , ['5'] ] , [['Seneca'] , ['53'] , ['2'] ] ,
[['Steuben'] , ['77'] , ['1'] ] , [['Suffolk'] , ['71'] , ['1'] ] , [['Sullivan'] , ['78'] ,
['0'] ] , [['Tioga'] , ['89'] , ['5'] ] , [['Tompkins'] , ['64'] , ['1'] ] , [['Ulster'] ,
['57'] , ['2'] ] , [['Warren'] , ['91'] , ['5'] ] , [['Washington'] , ['66'] , ['0'] ] ,
[['Wayne'] , ['68'] , ['5'] ] , [['Westchester'] , ['86'] , ['1'] ] , [['Wyoming'] , ['59']
, ['2'] ] , [['Yates'] , ['55'] , ['2'] ]

([['Wayne'], ['68'], ['5']],
 [['Westchester'], ['86'], ['1']],
 [['Wyoming'], ['59'], ['2']],
 [['Yates'], ['55'], ['2']])

In [45]:
flat_data = [item for item in data]
# Convert to DataFrame
df = pd.DataFrame(flat_data, columns=['Station_Name', 'Nox_Value', 'Sensor_Tolarance'])

In [46]:
df

    Station_Name Nox_Value Sensor_Tolarance
0       [Albany]      [75]              [0]
1     [Allegany]      [83]              [2]
2        [Bronx]      [82]              [3]
3       [Broome]      [67]              [5]
4  [Cattaraugus]      [95]              [5]
5       [Cayuga]      [80]              [4]
6   [Chautauqua]      [78]              [4]
7      [Chemung]      [91]              [3]

In [47]:
# Extract values from lists into separate columns
df = df.applymap(lambda x: x[0] if isinstance(x, list) else x)

/var/folders/fw/9b0xslw51mq4_fznt1ct_2zm0000gn/T/ipykernel_3891/1728655572.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df = df.applymap(lambda x: x[0] if isinstance(x, list) else x)

In [48]:
df

  Station_Name Nox_Value Sensor_Tolarance
0       Albany        75                0
1     Allegany        83                2
2        Bronx        82                3
3       Broome        67                5
4  Cattaraugus        95                5
5       Cayuga        80                4
6   Chautauqua        78                4
7      Chemung        91                3

In [49]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Station_Name      8 non-null      object
 1   Nox_Value         8 non-null      object
 2   Sensor_Tolarance  8 non-null      object
dtypes: object(3)
memory usage: 324.0+ bytes

In [54]:
# Convert string values to integers
df['Nox_Value'] = df['Nox_Value'].astype(int)
df['Sensor_Tolarance'] = df['Sensor_Tolarance'].astype(int)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Station_Name      8 non-null      object
 1   Nox_Value         8 non-null      int64
 2   Sensor_Tolarance  8 non-null      int64
dtypes: int64(2), object(1)
memory usage: 324.0+ bytes

In [55]:
# How many stations are there?
df["Station_Name"].nunique()

8

In [56]:
# What was the NOx reading from the 5th station?
nox_reading_5th_station = df.loc[4, 'Nox_Value']
nox_reading_5th_station

95

In [57]:
# What was the NOx reading from the last station?
nox_reading_last_station = df['Nox_Value'].iloc[-1]
nox_reading_last_station

91

In [58]:
# What is the total sum of NOx on sites with the station's name beginning with the letter W?
# Filter stations with names beginning with 'W'
filtered_df = df[df['Station_Name'].apply(lambda x: x[0][0].lower() == 'w')]

# Calculate the total sum of NOx on sites with station names beginning with 'W'
total_nox_w_stations = filtered_df['Nox_Value'].sum()
total_nox_w_stations

0

In [64]:
# Calculate the adjusted NOx values by considering the maximum error as a percentage?
average_nox_reading = df.groupby("Station_Name")['Nox_Value'].mean()
average_nox_reading

Station_Name
Albany         75.0
Allegany       83.0
Bronx          82.0
Broome         67.0
Cattaraugus    95.0
Cayuga         80.0
Chautauqua     78.0
Chemung        91.0
Name: Nox_Value, dtype: float64